<section id="projects">
    <div class="wrapper">
        <div class="text-center">
            <h1 class="blue-title">Projects</h1>
        </div>
        <div id="vertical-timeline" class="light-timeline">

            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4>
                        <a>What is a water footprint?</a>
                    </h4>
                    <p>
                        <span>The water footprint measures the amount of water used to produce each of the goods and services we
                            use. It can be measured for a single process, such as growing rice, for a product, such as a
                            pair of jeans, for the fuel we put in our car, or for an entire multi-national company. The water
                            footprint can also tell us how much water is being consumed by a particular country – or globally
                            – in a specific river basin or from an aquifer. The water footprint is a measure of humanity’s
                            appropriation of fresh water in volumes of water consumed and/or polluted.
                            <a href=https://www.watercalculator.org/ target="_blank">calculate your water footprint</a>
                        </span>

                    </p>
                </div>
            </div>
            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4>
                        <a>Pocket weather: An applet of WeChat</a>
                    </h4>
                    <p>
                        <span>An applet to provide weather conditions of prefecture-level cities in China. Scan the following two-dimensional
                            code with WeChat to use it.</span>
                    </p>
                    <img src="../assets/images/pocket-weather.jpg" />
                </div>
            </div>
            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-balance-scale" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4>
                        <a>Selector: A React app</a>
                    </h4>
                    <p>
                        <span>A simple app to help you make a choice. This is
                            <a href="http://selector.kongsong.me" target="_blank">App demo</a>. It also supports other types of options, not restricted to food. </span>
                        <div>
                            <a class="github-button" href="https://github.com/songkong/Selector" data-count-href="/songkong/Selector/stargazers" data-count-api="/repos/songkong/Selector#stargazers_count"
                                data-count-aria-label="# stargazers on GitHub" aria-label="Star songkong/Selector on GitHub">Star</a>
                            <a class="github-button" href="https://github.com/songkong/Selector/fork" data-count-href="/songkong/Selector/network" data-count-api="/repos/songkong/Selector#forks_count"
                                data-count-aria-label="# forks on GitHub" aria-label="Fork songkong/Selector on GitHub">Fork</a>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>