<section id="projects">
    <div class="wrapper">
        <div class="text-center">
            <h1 class="blue-title">Content</h1>
        </div>
        <div id="vertical-timeline" class="light-timeline">

            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4>
                        <a>What is a water footprint?</a>
                    </h4>
                    <p>
                        <span>The water footprint measures the amount of water used to produce each of the goods and services we
                            use. It can be measured for a single process, such as growing rice, for a product, such as a
                            pair of jeans, for the fuel we put in our car, or for an entire multi-national company. The water
                            footprint can also tell us how much water is being consumed by a particular country – or globally
                            – in a specific river basin or from an aquifer. The water footprint is a measure of humanity’s
                            appropriation of fresh water in volumes of water consumed and/or polluted.

                            <div>
                                <a href="https://www.watercalculator.org/" target="_blank">Calculate your water footprint</a>
                            </div>
                            <img src="../assets/images/waterprint.jpg" />
                        </span>

                    </p>
                </div>
            </div>
            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4>
                        <a>Water Conservation</a>
                    </h4>
                    <p>
                        <span>Water conservation is the practice of using water efficiently to reduce unnecessary water usage.
                            According to Fresh Water Watch, water conservation is important because fresh clean water is
                            a limited resource, as well as a costly one. As a homeowner, you’re probably already well aware
                            of the financial costs of inefficient water use. Conservation of this natural resource is critical
                            for the environment — and our wallets.</span>
                        <div>
                            <a href="https://learn.eartheasy.com/guides/45-ways-to-conserve-water-in-the-home-and-yard/" target="_blank">Explore more Tips</a>
                        </div>
                    </p>
                    <img src="../assets/images/savewater.png" />
                        <div>
                            <a href="https://loveyuxin.github.io/blog/posters/" target="_blank">Dive Into My Blog</a>
                        </div>
                </div>
            </div>
            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-balance-scale" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4>
                        <a>Persuasive Argument</a>
                    </h4>
                    <p>
                        <span>In persuasive or argumentative writing, we try to convince others to agree with our facts, share
                            our values, accept our argument and conclusions, and adopt our way of thinking.
                        </span>
                        <div>
                            <a href="http://www.studygs.net/wrtstr4.htm">Persuasive Argument Strategy</a>

                        </div>
                 
                        <div>
                            <a href="https://loveyuxin.github.io/blog/water/" target="_blank">Dive Into My Blog</a>
                        </div>
                    </p>
                </div>
            </div>
            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-balance-scale" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4>
                        <a>Task</a>
                    </h4>
                    <p>
                        <span>After exploring the WebQuest, you need to work in groups to design a poster for water conservation
                            and write a short paragraph follow the guidelines and samples I provided. We will share our posters
                            and essays in next class.
                        </span>

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
